*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url("/assets/to\ do\ background.png");
  background-size: cover;
  background-position: center;
}

.list-background{
  background-color: #80d0c7;
}


